@import "bootstrap";

a:hover{
  text-decoration: none;
}
.container{
  margin-top: 16px;
}
button.btn{
  margin-top: 16px;
}
table.table{
  margin-top: 16px;
}
input[type="submit"]#save{
  margin-top: 32px;
}
input[type="submit"]#searchBTN{
  margin-left: 16px;
}
